body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    width: 80%;
    max-width: 600px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.question {
    margin-bottom: 20px;
}

.question-text {
    font-size: 20px;
    margin-bottom: 15px;
}

.options button, .ordering-item {
    padding: 10px 15px;
    margin-right: 10px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.options button:hover, .ordering-item:hover {
    background-color: #d4d4d4;
}

.blank-input {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

.progress-bar {
    background-color: #e7e7e7;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 10px;
    background-color: #4caf50;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.nav-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 150px;
    margin-right: 150px;
}

.nav-button.submit {
    margin-right: 55px;
}

.nav-button:hover {
    background-color: #0056b3;
}

.quiz-container{
    position: relative;
}

.nav-button.submit{
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.nav-button.submit{
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-button.submit:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.start-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
    margin-top: 10px;
}

.start-button:hover {
    background-color: #0056b3;
}

.quiz-instructions {
    font-size: 18px;
    margin-left: 55px;
    font-weight: bold;
}

.quiz-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type='text'] {
    margin-top: 10px;
}

.welcome-message {
   color : red;
   font-size: 20px;
   font-weight: bold;
   margin-top: -30px;
}